/* 全ての要素に適応 */
*{
    /* 余白の指定 */
    margin: 0;
    /* パディングの幅 */
    padding: 0;
}

/* ダウンロードしたフォント'krungthep'を使う */
@font-face {
    font-family: 'バンコク';
    src: url('../fonts/krungthep.ttf') format('truetype');
    }

body{
    /* bodyタグの背景色を変更 */
    background: radial-gradient(#F3E1C7,#F2D3AA,#EFC18C )
}

/* （中央配置）.containerクラスの指定 */
.container{
    /* 幅 */
    width: 600px;
    /* 左右同じ間隔で中央配置（margin=余白） */
    margin: auto;
    /* ナビゲーションの高さ分をプラス */
    overflow: hidden;
    /* nav+height+margin-bottom */
    padding-top: 10%;
}

.inner-container{
    width: 900px;
    margin: auto;
}

/* ナビゲーションバーの設定 */
nav{
    /* 親ブロックの要素の縦幅を内側の要素がはみ出ないように調整
        （heightを指定しなければ、内側の要素高さに親要素の高さをピッタリ合わせてくれる） */
    overflow: hidden;
    /* メニューの色変更 */
    background:radial-gradient(#DC626A, #B14243);  
    /* 下の空白30px */
    margin-bottom: 30px;
    

    /* ナビゲーション固定するためのコード->中身全て動かなくなる！ */
    position: fixed;
    width: 100%;
    display: flex;
    
}

/* ナビゲーション共通の設定 */
.nav-li{
    list-style-type: none;
    height: 70px;

}

/* ナビゲーション（タイトル）の設定 */
.nav-tli{
    /* 要素を左に寄せる */
    float:left;
}

/* ナビゲーション（コンテンツ）の設定 */
.nav-nli{
    /* 要素を右に寄せる */
    float:left;
}

/* ナビゲーション（タイトル）の設定 */
.nav-tbtn{
    /* テキストにつく線の種類(U線) */
    text-decoration: none;
    /* テキストの色 */
    color: #EFC18C;
    /* 文字のサイズ */
    font-size: 25px;
    /* フォントの設定 */
    font-family: 'バンコク', sans-serif;
    /* 枠線内の間隔 */
    padding: 17px;
    /* ブロック要素 */
    display: flex;
    /* アニメーションにかける時間 */
    transition: 0.5s;
}

/* ナビゲーション（コンテンツ）の設定 */
.nav-btn{
    /* テキストにつく線の種類(U線) */
    text-decoration: none;
    /* テキストの色 */
    color: #fff;
    /* 文字のサイズ */
    font-size: 15px;
    /* フォントの設定 */
    font-family: 'バンコク', sans-serif;
    /* 枠線内の間隔 */
    padding: 10px;
    margin-top:17px;
    /* ブロック要素 */
    display: flex;
    /* アニメーションにかける時間 */
    transition: 0.5s;
}

/* ナビゲーション（タイトル）のアニメーション設定 */
.nav-tli :hover{
    /* テキストの色 */
    color: #FF9933;
    /* アニメーションにかける時間 */
    transition: 0.5s;
}

/* ナビゲーション（コンテンツ）のアニメーション設定 */
.nav-nli :hover{
    /* テキストの色 */
    color: #C1273A;
    /* アニメーションにかける時間 */
    transition: 0.5s;
}

/* ナビゲーションバーに隠れないようにするための空白 */
a.anchor {
    display: block;
    padding-top: 90px;
    margin-top: -90px;
}

/* プロフィール作成の背景と設定 */
.profile{
    margin: 0 auto;
    overflow: hidden;
    background-color: #EFC18C;
    background-image: url(../images/back.png);
    background-repeat: repeat;  
    font-family: 'Tsukushi B Round Gothic'; font-weight: normal;
    text-align: center;
    color:#fff;
}

.panel-item{
    margin-top: 40px;
    text-decoration: none;

    overflow: hidden;
    display: block;
}

.panel-item img{
    margin-top: 100px;
    width: 200px;
    height: auto;

    transition: 1.5s ease;
}

.panel-item:hover img{

    width: 230px;
    height: auto;

    transition: 1.5s ease;
}

/* 自分の写真の設定 */
.pro-img{
    /* 幅指定 */
    margin-top: 100px;
    margin-bottom: 30px;
    width: 200px;
    height: auto;
}

/* 趣味の写真の設定 */
.hob-img {
    zoom: 70%;
    display: inline-block;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
  }

/* フィールドの設定 */
.field{
    margin: 0 auto;
    overflow: hidden;
    font-family: 'バンコク', sans-serif;
    text-align: center;
    color:#482309;
    transition: 1s;
}

.field h1{
    margin-top: 50px;
    /* 文字のサイズ */
    font-size: 40px;
    /* フォントの設定 */
    font-family: 'バンコク', sans-serif;
    transition: 1s;
}

/* フィールドのオブジェクト設定=>スライドから画像に変更するかも！ */
.field iframe{
    width : 50vw ; /* 画面幅の50％ */
    height : 28vmax ; /* 画面幅の50％ */
    margin: auto;
    display: inline-block;
    text-align: center;
    transition: 1s;
    transition: 1s;
}

.field:hover iframe{
    
    transition: 1s;
}

.field h4{
    margin-top: 10px;
    /* 文字のサイズ */
    font-size: 18px;
    /* フォントの設定 */
    font-family: 'Tsukushi B Round Gothic'; font-weight: bold;
    transition: 1s;
}

.field p{
    margin-top: 5px;
    /* 文字のサイズ */
    font-size: 14px;
    /* フォントの設定 */
    font-family: 'Tsukushi B Round Gothic'; font-weight: normal;
    transition: 1s;
}
/* .field:hover iframe{
    width: 50%;
    height:50%;
    transition: 1s;
} */

  footer{
    overflow: hidden;
    margin:0 auto;
    /* 文字中央寄せ */
    text-align: center;
    background:radial-gradient(#DC626A, #B14243); 
    color: #EFC18C;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    /* フォントの設定 */
    font-family: 'バンコク', sans-serif;
    /*font-family: 'Tsukushi B Round Gothic'; font-weight: normal;*/
  } 
  
  /* フィールドの設定 */
.skill{
    margin: 0 auto;
    overflow: hidden;
    font-family: 'バンコク', sans-serif;
    text-align: center;
    color:#482309;
    transition: 1s;
}

.skill h1{
    margin-top: 100px;
    /* 文字のサイズ */
    font-size: 40px;
    /* フォントの設定 */
    font-family: 'バンコク', sans-serif;
    transition: 1s;
}

.skill h2{
    margin-top: 30px;
    /* 文字のサイズ */
    font-size: 70px;
    /* フォントの設定 */
    font-family: 'バンコク', sans-serif;
    transition: 1s;
}

.skill p{
    margin-top: 5px;
    /* 文字のサイズ */
    font-size: 40px;
    /* フォントの設定 */
    font-family: 'Tsukushi B Round Gothic'; font-weight: normal;
    transition: 1s;
}

.skill-img {
    zoom: 30%;
    display: inline-block;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 50px;
    margin-left: 50px;
    transition: 1s;
  }

  .skill:hover h2{
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 40px;
    margin-left: 40px;
    transition: 1s;
}

.work{
    margin: 0 auto;
    overflow: hidden;
    font-family: 'バンコク', sans-serif; 
    font-family:'Tsukushi B Round Gothic'; font-weight: normal;
    text-align: center;
    color:#482309;
}

.work h1{
    margin-top: 100px;
    /* 文字のサイズ */
    font-size: 40px;
    /* フォントの設定 */
    font-family: 'バンコク', sans-serif;
}

.work h2{
    margin-top: 30px;
    /* 文字のサイズ */
    font-size: 25px;
    /* フォントの設定 */
    font-family:'Tsukushi B Round Gothic'; font-weight: bold;
}

.work a{
    text-decoration: none;
    padding:16px;
    border-radius: 3px;
    font-size: 24px;

    transition: 0.3s;
    
    display:block;
    padding-bottom: 10px;
    border-bottom: 10px solid transparent ;
    transition: 1s;
}

.work a:hover{
    transition: 0.3s;
    margin-top: 9px;
    border-bottom-width:1px;
    transition: 1s;
}

.work-img {
    zoom: 100%;
    display: inline-block;
    text-align: center;
    margin: 50px auto;
    overflow: hidden;
    transition: 1s;
  }


  .contact{
    margin: 0 auto;
    overflow: hidden;
    background-color: #EFC18C;
    background-image: url(../images/back.png);
    background-repeat: repeat;  
    font-family: 'バンコク', sans-serif; 
    font-family:'Tsukushi B Round Gothic'; font-weight: normal;
    text-align: center;
    color:#482309;
    margin-bottom: 0px;

    

}

.contact h1{
    margin-top: 100px;
    /* 文字のサイズ */
    font-size: 40px;
    /* フォントの設定 */
    font-family: 'バンコク', sans-serif;
}

.contact-img {
    zoom: 20%;
    display: inline-block;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 50px;
    margin-left: 50px;
  }

  .contact-img a{
    text-decoration: none;
    padding:16px;
    border-radius: 3px;
    font-size: 24px;

    transition: 0.3s;
    
    display:block;
    padding-bottom: 10px;
    border-bottom: 10px solid #EFC18C;;
}

.contact-img a:hover{
    background: #EFC18C;;
    color:#EFC18C;;
    transition: 0.3s;
    margin-top: 9px;
    border-bottom-width:1px ;
}

.contact-img p{
    margin-top: 5px;
    /* 文字のサイズ */
    font-size: 40px;
    /* フォントの設定 */
    font-family: 'バンコク', sans-serif;
    color:#EFC18C;
}

.form input{
    margin-top: 10px;
    border:0;
    padding:10px;
    font-family:Arial, sans-serif;
    color:#482309;
    border:1px solid #C1273A;
    margin:0 0 20px;
    width:300px;

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;

    -moz-box-shadow: inset 0 0 4px #C1273A;
    -webkit-box-shadow: inset 0 0 4px #fff;
    box-shadow: inner 0 0 4px #fff;
    font-family:'Tsukushi B Round Gothic'; font-weight: normal;
    transition: 1.5s ease;
}


.form:hover input{
    padding:12px;
    transition: 1.5s ease;
}

.form textarea{
    margin-top: 10px;
    border:0;
    padding:10px;
    font-family:Arial, sans-serif;
    color:#482309;
    border:1px solid  #C1273A;
    margin:0 0 20px;
    width:300px;

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;

    -moz-box-shadow: inset 0 0 4px #C1273A;
    -webkit-box-shadow: inset 0 0 4px C1273A;
    box-shadow: inner 0 0 4px #C1273A;
    font-family:'Tsukushi B Round Gothic'; font-weight: normal;
    transition: 1.5s ease;
}

.form:hover textarea{
    padding:12px;
    transition: 1.5s ease-out;
}

.form button{
    background:radial-gradient(#DC626A, #B14243); 
     
    color: #EFC18C;
    font-size: 12px;
    border: 1px solid #EFC18C;
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
    border-radius: 8px;
    font-family: 'バンコク', sans-serif;

    margin-bottom: 30px;
}

.form button:hover{
    background:radial-gradient(#DC626A, #B14243); 
    border:1px solid  #C1273A;
    color:#FF9933;
    transition: 1s;
}


